### Creates 10 Separate tables of data from raw profiles for later use

In [14]:
import pymongo
from pymongo import MongoClient

#client = MongoClient('mongodb://127.0.0.1:27017/')
conn = "mongodb+srv://jaiahujaa:Jaiahuja9$@cluster0.ehbij.mongodb.net/test"
client = MongoClient(conn)
db = client["Linkedin"]

In [15]:
import numpy as np
import pandas as pd
import requests
import datetime as dt

In [16]:
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [64]:
db.list_collection_names()

['profile_data', 'Linkedin_Profiles']

In [18]:
# CONNECTING TO THE COLLECTION 
li = db['Linkedin_Profiles']

In [19]:
li

Collection(Database(MongoClient(host=['cluster0-shard-00-00.ehbij.mongodb.net:27017', 'cluster0-shard-00-02.ehbij.mongodb.net:27017', 'cluster0-shard-00-01.ehbij.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-2323ni-shard-0', ssl=True), 'Linkedin'), 'Linkedin_Profiles')

# DF0 - profile_fields - Loading Raw Data

In [51]:
profile_fields = pd.DataFrame(list(li.find()))

In [52]:
profile_fields.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 35 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   _id                           101 non-null    object
 1   code                          14 non-null     float64
 2   description                   14 non-null     object
 3   name                          14 non-null     object
 4   public_identifier             87 non-null     object
 5   profile_pic_url               80 non-null     object
 6   background_cover_image_url    75 non-null     object
 7   first_name                    87 non-null     object
 8   last_name                     87 non-null     object
 9   full_name                     87 non-null     object
 10  occupation                    77 non-null     object
 11  headline                      84 non-null     object
 12  summary                       65 non-null     object
 13  country                       87 non-null     object
 14  country_full_name             80 non-null     object
 15  city                          80 non-null     object
 16  state                         74 non-null     object
 17  experiences                   87 non-null     object
 18  education                     87 non-null     object
 19  languages                     87 non-null     object
 20  accomplishment_organisations  87 non-null     object
 21  accomplishment_publications   87 non-null     object
 22  accomplishment_honors_awards  87 non-null     object
 23  accomplishment_patents        87 non-null     object
 24  accomplishment_courses        87 non-null     object
 25  accomplishment_projects       87 non-null     object
 26  accomplishment_test_scores    87 non-null     object
 27  volunteer_work                87 non-null     object
 28  certifications                87 non-null     object
 29  connections                   79 non-null     float64
 30  people_also_viewed            87 non-null     object
 31  recommendations               87 non-null     object
 32  activities                    87 non-null     object
 33  similarly_named_profiles      87 non-null     object
 34  articles                      87 non-null     object
dtypes: float64(2), object(33)
memory usage: 27.7+ KB

In [53]:
profile_fields = profile_fields[['_id','public_identifier','first_name','last_name','occupation','headline',
             'summary','country_full_name','city','experiences','education','languages',
            'accomplishment_organisations','accomplishment_publications',
             'accomplishment_honors_awards','accomplishment_patents',
             'accomplishment_courses','accomplishment_projects', 'accomplishment_test_scores',
             'volunteer_work', 'certifications','connections','recommendations']]

### Removing Missing Data

In [54]:
# DROP COLUMNS WITH NaN

profile_fields.dropna(thresh = 15, inplace = True)
profile_fields.reset_index(drop = True, inplace =True)

### Check for Duplicates

In [55]:
profile_fields.public_identifier.duplicated().value_counts()

False    87
Name: public_identifier, dtype: int64

### Inserting Profile_id Column

In [56]:
profile_fields.insert(0, 'profile_id', range(0,len(profile_fields)))

In [57]:
profile_fields.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   profile_id                    87 non-null     int64
 1   _id                           87 non-null     object
 2   public_identifier             87 non-null     object
 3   first_name                    87 non-null     object
 4   last_name                     87 non-null     object
 5   occupation                    77 non-null     object
 6   headline                      84 non-null     object
 7   summary                       65 non-null     object
 8   country_full_name             80 non-null     object
 9   city                          80 non-null     object
 10  experiences                   87 non-null     object
 11  education                     87 non-null     object
 12  languages                     87 non-null     object
 13  accomplishment_organisations  87 non-null     object
 14  accomplishment_publications   87 non-null     object
 15  accomplishment_honors_awards  87 non-null     object
 16  accomplishment_patents        87 non-null     object
 17  accomplishment_courses        87 non-null     object
 18  accomplishment_projects       87 non-null     object
 19  accomplishment_test_scores    87 non-null     object
 20  volunteer_work                87 non-null     object
 21  certifications                87 non-null     object
 22  connections                   79 non-null     float64
 23  recommendations               87 non-null     object
dtypes: float64(1), int64(1), object(22)
memory usage: 16.4+ KB

nan

# DATA CLEANING AND PARSING

In [58]:
### CREATING A COLUMN PARSER FUNCTION

# Select the subset DataFrame
# Explode the dataframe
# Convert the dictionary based column to Series and then concat to a DataFrame

def linkedin_col_parser(df,_id,col):
    df1 = df[[_id, col]]
    
    df1 = df1.explode(col)
    df1.reset_index(drop = True, inplace = True)
 
    df2 = df1[col].apply(pd.Series)
    
    return (pd.concat([df1,df2], axis = 1).drop(col, axis = 1)).drop(0,axis = 1)

In [89]:
# Fix For Dates

def dict_to_date(Series):
    '''Takes in a Pandas Series of dicts with the format - {'day':X, 'month':Y, 'year':Z}
    and converts them into a Pandas Series of Python date objects.'''
    dates = []
    for dicts in Series:
        if type(dicts) != dict:
            #print('nan')
            dates.append(np.nan)
        
        else:
            i = 0
            while i < 3:
                my_lst = []
                
                for v in dicts.values():
                    my_lst.append(v)
                    i+=1
            date = dt.datetime(year = my_lst[-1],month = my_lst[1], day = my_lst[0])
            dates.append(date)
    
    return(pd.Series(dates))

In [120]:
def to_mongo(database, collection, df):
    '''Takes a dataframe and uploads it to a pre-existing MongoDB collection.
    Dates need to be converted to string.'''
    
    db = client[database]
    coll = db[collection]
    
    df.reset_index(drop = True, inplace = True)
    coll.insert_many(df.to_dict('records'))

In [ ]:
# REMAINING MANUAL TASKS
# Select Appropriate Columns which just cant be automated

## Parsing all the necessary tables

#### Step 1 - Parse + Clean the table
#### Step 2 - Select Necessary columns (manual)
#### Step 3 - Check if everything's okay

####  1 profile_df

In [71]:
profile_df = profile_fields[['profile_id','public_identifier','first_name','last_name',
                             'occupation','headline','summary','country_full_name','recommendations']]

In [72]:
profile_df.recommendations.replace([],None, inplace = True)

In [73]:
#d.x = d.x.apply(lambda y: np.nan if len(y)==0 else y)
profile_df.recommendations = profile_df.recommendations.apply(lambda y: np.nan if len(y) == 0 else y)

In [74]:
profile_df.reset_index(drop = True,inplace = True)

In [75]:
profile_df.head()

,profile_id,public_identifier,first_name,last_name,occupation,headline,summary,country_full_name,recommendations
0,0,amittiwari,Amit,Tiwari,Software Developer at WebEngage,Software Developer at WebEngage,"2+ years of experience in Java, J2EE and\n\nassociated Technology (Spring, Hibernate,\n\nRest Web Services , Micro services, Spring\n\nBoot)\n\n•Strong Problem Solving Skills with good hold\n\non Data Structure and Algorithms.\n\n•Grant of 1700 USD received for product development from DST,Government of India.\n\n•Won Smart India National Level Hackathon 2019 as a team Leader for Ministry of External Affairs, GOI.\n\n•Involved in Co-operate and Institute training on various technologies.",India,NaN
1,1,schezeenfazulbhoy,Schezeen,Fazulbhoy,Software Developer at Nomura,Software Developer at Nomura,"My interests lie in technology, creative design and areas that demand both. I constantly strive to channelize these aspects in ways that they complement each other.",India,NaN
2,2,rahul-gupta-6a5967188,Rahul,Gupta,Software Engineer at CODE B,Full Stack Developer,"A prolific, self-taught Full Stack Engineer – specialized in building exceptional Mobile and Web Apps that provides pixel perfect and logical user interfaces.",India,NaN
3,3,saqlainkadiri,Saqlain,Kadiri,Application Developer at Thoughtworks,Full Stack Developer @Thoughtworks,"Experienced Full Stack Software Engineer with a demonstrated history of designing, developing and delivering quality software features\n\nStrong expertise in developing distributed systems using Microservices and Messaging on Cloud\n\nTechnology Experience:\n\n- Architecture : Microservices, REST APIs, Event Driven Systems\n\n- Backend : Java, Spring Boot, Hibernate, Kafka\n\n- Frontend : React.js, JavaScript\n\n- Databases : Postgres, MySql, MongoDB\n\n- OS : Windows, Linux\n\n- Deployment : Docker, Jenkins\n\n- Cloud (AWS): Elasticsearch, Logstash, Kibana, SQS, EC2, S3\n\nDomain Experience:\n\n- Membership Benefits Management\n\n- Loyalty Management\n\n- Travel Technology\n\n- Supply Chain Management\n\n- Invoice Processing",India,"[vaibhav TripathiSaqlain is one of the fine tune player in our team. I really feel proud to work with such a fantastic human. Saqlain and I worked together in one of the major flagship project. His biggest strength is his ablity to handle tough situation very effectively. It's without hesitation that I recommend Saqlain if you are looking for the best Team Player. , Mohit SharmaI have worked very closely with Saqlain he has been part of my team and I have watched him transitioning from a College graduate to a trainee to a Software engineer. He is self motivated, curious to learn, likes to find opportunity to create a better version of code than he found it. He always carries a positive attitude towards problem solving and never shy aways from challenges.]"
4,4,risita-kumar-5996bb171,Risita,Kumar,Software Developer at Breathbit,Software Developer at Breathbit,"Experienced Campus Ambassador with a demonstrated history of working in the non-profit organization management industry. Skilled in Python (Programming Language), Microsoft Word, C++, Public Speaking, and Java. Strong education professional with a BTech - Bachelor of Technology focused in Information Technology from JAIN UNIVERSITY, BANGALORE.",India,NaN

### Dont Run Following Again

In [77]:
to_mongo('Linkedin','profile_data',profile_df)

### 2 experience_df

In [112]:
experience_df = linkedin_col_parser(profile_fields,'profile_id','experiences')
experience_df.starts_at = dict_to_date(experience_df.starts_at)
experience_df.ends_at = dict_to_date(experience_df.ends_at)

In [113]:
experience_df = experience_df[['profile_id','starts_at', 'ends_at','title', 'description',
                                     'company', 'location']]

In [114]:
experience_df.tail()

,profile_id,starts_at,ends_at,title,description,company,location
410,84,2018-05-01,2018-08-31,IT Developer,None,Toronto Transit Commission (TTC),"Toronto, Canada Area"
411,85,2019-09-01,2019-12-31,Software Engineer,Software Engineer in HANA Database Interface Team,SAP,"Waterloo, Canada"
412,85,2019-01-01,2019-04-30,Software Engineer,None,Ritual.co,None
413,86,2021-08-01,NaT,Developer,None,BARC India,Mumbai
414,86,2021-03-01,2021-05-31,Intern - Group Data and Analytics Cell (GDNA),None,Aditya Birla Management Corporation Pvt Ltd,None

### Dont Run Following Again

In [116]:
#frame[‘DataFrame Column’]= frame[‘DataFrame Column’].apply(str)
experience_df.starts_at = experience_df.starts_at.apply(str)
experience_df.ends_at = experience_df.ends_at.apply(str)

In [119]:
#to_mongo('Linkedin','experience_data',experience_df)

### 3 education_df

In [121]:
education_df = linkedin_col_parser(profile_fields,'profile_id','education')
education_df.starts_at = dict_to_date(education_df.starts_at)
education_df.ends_at = dict_to_date(education_df.ends_at)

In [122]:
education_df = education_df[['profile_id','starts_at','ends_at','field_of_study','degree_name',
                             'school','description']]

In [123]:
education_df.tail()

,profile_id,starts_at,ends_at,field_of_study,degree_name,school,description
183,83,2015-01-01,2019-12-31,Information Technology,Bachelor of Engineering - BE,University of Mumbai,None
184,84,2017-01-01,2022-12-31,Data Science,Bachelor's degree,University of Waterloo,President's Student Scholarship of Distinction
185,85,2017-01-01,2022-12-31,Computer Science,Bachelor of Computer Science,University of Waterloo,None
186,86,2019-01-01,2021-12-31,Data Science and Big Data Analytics,Master's degree,"B.K. Birla College, Mumbai University",None
187,86,2016-01-01,2019-12-31,Computer Science,Bachelor's degree,Birla College of Arts Science & Commerce Birla College Road Kalyan Dist Thane 421 304,None

### Dont Run Following Again

In [124]:
education_df.starts_at = education_df.starts_at.apply(str)
education_df.ends_at = education_df.ends_at.apply(str)
#to_mongo('Linkedin','education_data',education_df)

### 4 accomplishment_organisation_df

In [125]:
ac_organisation_df = linkedin_col_parser(profile_fields,'profile_id',
                                         'accomplishment_organisations')
ac_organisation_df.starts_at = dict_to_date(ac_organisation_df.starts_at)
ac_organisation_df.ends_at = dict_to_date(ac_organisation_df.ends_at)

In [126]:
ac_organisation_df = ac_organisation_df[['profile_id', 'starts_at', 'ends_at','title',
                                         'org_name','description']]

In [127]:
ac_organisation_df.loc[15:35]

,profile_id,starts_at,ends_at,title,org_name,description
15,15,NaT,NaT,NaN,NaN,NaN
16,16,NaT,NaT,NaN,NaN,NaN
17,17,NaT,NaT,NaN,NaN,NaN
18,18,2021-02-01,NaT,Co-Founder,TechEdu Learning and Talent Solution,None
19,18,2020-06-01,NaT,Member,SAE INDIA,None
20,18,2020-06-01,NaT,Team Member,Team Technospark,None
21,18,2019-03-01,NaT,President,I Can Foundation,This is not for profit organization started with the help of students studying in engineering colleges and in junior colleges to help poor people and to make available them some kind of source of income.
22,18,2020-11-01,2020-12-31,Onboard Member,Aashman Foundation,None
23,18,2018-08-01,2020-08-31,Student Coordinator,National Service Scheme,None
24,19,2020-03-01,2020-05-31,ISP -17,Internshala,None
25,19,NaT,NaT,College Representative in CII,Confederation of Indian Industry,None
26,20,2019-03-01,NaT,Project Head,"IEEE Students Branch, NIT Calicut",None
27,20,2018-12-01,NaT,Executive,Electrical Engineering Association,None
28,20,2018-03-01,NaT,Senior Executive,Club Mathematica,None
29,21,NaT,NaT,NaN,NaN,NaN
30,22,NaT,NaT,NaN,NaN,NaN
31,23,NaT,NaT,NaN,NaN,NaN
32,24,NaT,NaT,NaN,NaN,NaN
33,25,NaT,NaT,NaN,NaN,NaN
34,26,NaT,NaT,NaN,NaN,NaN
35,27,2017-03-01,NaT,Member,Mensa International,"I was invited to Mensa as a gifted child after an IQ test, but did not join until testing again in adulthood. Mensa is an international organization for the top 2% in IQ/intelligence scores in the world. I've enjoyed meeting a variety of fellow Mensans -- we all sure like to think big."

## Dont run Following again

In [128]:
ac_organisation_df.starts_at = ac_organisation_df.starts_at.apply(str)
ac_organisation_df.ends_at = ac_organisation_df.ends_at.apply(str)
#to_mongo('Linkedin','ac_organisation',ac_organisation_df)

#### 5  accomplishment_publications

In [129]:
ac_publication_df = linkedin_col_parser(profile_fields,'profile_id',
                                        'accomplishment_publications')

In [130]:
# No one has any publications in the base dataset.
ac_publication_df.tail()

    profile_id description name published_on publisher  url
89          82         NaN  NaN          NaN       NaN  NaN
90          83         NaN  NaN          NaN       NaN  NaN
91          84         NaN  NaN          NaN       NaN  NaN
92          85         NaN  NaN          NaN       NaN  NaN
93          86         NaN  NaN          NaN       NaN  NaN

## Dont run Following Again

In [131]:
ac_publication_df.published_on = ac_publication_df.published_on.apply(str)
#to_mongo('Linkedin','ac_publication',ac_publication_df)

#### 6 accomplishment_honors_awards

In [132]:
ac_award_df = linkedin_col_parser(profile_fields,'profile_id',
                                 'accomplishment_honors_awards')
ac_award_df.issued_on = dict_to_date(ac_award_df.issued_on)

In [133]:
ac_award_df.head(10)

,profile_id,description,issued_on,issuer,title
0,0,NaN,NaT,NaN,NaN
1,1,Stood among the top 20 finalist for an in-house coding hackathon hosted by Nomura.,2018-08-01,"Nomura, KakushIN",Finalist
2,2,NaN,NaT,NaN,NaN
3,3,Certificate of Excellence for exceptional performance in development of a Multi-tenant Membership Benefits platform as a part of tribe GCE (Global customer engagement) for the year 2020,2020-12-01,"CEO, Tavisca",Certificate of Excellence
4,3,Recognition for primary ownership of critical production data cleaning according to business constraints for 7+ clients maintaining consistency across 40+ database tables,2020-09-01,Tavisca,Shoutout Award
5,3,Recognition for primary ownership of Member Search feature supporting performance of half-text search within 60milliseconds.,2020-07-01,Tavisca,Shoutout Award
6,3,Recognition for on-time delivery of a Common library integrated with 150+ APIs across 25+ microservices supporting 15+ clients on the platform,2020-03-01,Tavisca,Shoutout Award
7,3,Received Second Prize for building a Student Attendance Management System with Biometric Attendance feature within 24 hours,2018-03-01,"Fr. Conceicao Rodrigues College of Engineering, Bandra West.",Second Prize in UNSCRIPT 2018 State Level Hackathon
8,4,NaN,NaT,NaN,NaN
9,5,NaN,NaT,NaN,NaN

## Dont Run Following Again

In [135]:
ac_award_df.issued_on = ac_award_df.issued_on.apply(str)
#to_mongo('Linkedin','ac_award',ac_award_df)

#### 7 accomplishment_patents

In [138]:
ac_patent_df = linkedin_col_parser(profile_fields,'profile_id',
                                 'accomplishment_patents')
ac_patent_df.issued_on = dict_to_date(ac_patent_df.issued_on)

In [139]:
# Only one person has a patent in the initial data
ac_patent_df.loc[42:45]

,profile_id,application_number,description,issued_on,issuer,patent_number,title,url
42,42,NaN,NaN,NaT,NaN,NaN,NaN,NaN
43,43,9189767,NaN,2015-11-17,United States,9189767,Kiosk for Receiving and Delivering Packages,http://patentsgazette.uspto.gov/week46/OG/html/1420-3/US09189767-20151117.html
44,43,None,NaN,NaT,20180018304,None,Graphical User Interface and System for viewing Landing Page content,https://patentscope.wipo.int/search/en/detail.jsf?docId=WO2018013799
45,44,NaN,NaN,NaT,NaN,NaN,NaN,NaN

## Do Not Run Following Again

In [140]:
ac_patent_df.issued_on = ac_patent_df.issued_on.apply(str)
#to_mongo('Linkedin','ac_patent',ac_patent_df)

### 8 accomplishment_courses

In [141]:
ac_course_df = linkedin_col_parser(profile_fields,'profile_id',
                                   'accomplishment_courses')

In [142]:
ac_course_df.loc[20:29]

    profile_id                                  name          number
20          14                 Differential Geometry  Diploma Course
21          14             Fuzzy Set and Fuzzy Logic        MC - 432
22          14                        Linear Algebra          MC-208
23          14  Mathematical Modeling and Simulation        MC - 409
24          14                    Matrix Computation        MC - 404
25          14        Partial Differential Equations        MC - 406
26          14                  Scientific Computing               -
27          14               Multi-variable Calculus       MIT 18.02
28          15                                   NaN             NaN
29          16                 Accounts & Management               -

## Do Not Run Following Again

In [143]:
#to_mongo('Linkedin','ac_course',ac_course_df)

### 9 accomplishment_projects

In [145]:
ac_project_df = linkedin_col_parser(profile_fields,'profile_id',
                                   'accomplishment_projects')
ac_project_df.starts_at = dict_to_date(ac_project_df.starts_at)
ac_project_df.ends_at = dict_to_date(ac_project_df.ends_at)

In [47]:
ac_project_df.tail(10)

,profile_id,description,ends_at,starts_at,title,url
215,79,"Docker is a platform for developers and sysadmins to build, ship and run applications anywhere. As computational work increasing in every aspect of research it becomes more cumbersome and also there is greater divergence between developers and researchers, etc. Hence, it becomes critical every-time start from scratch. With this project, I review current approaches to these issues, including VM's and work-flow systems and their limitations. Docker, latest technology, combine several areas from system research OS Virtualization, Cross-platform portability, Modular Reusable element, and Dev-ops philosophy to address these challenges. With kubernetes we can create a cluster of machines and work as a single system. So offering one-in-all services in a distributed environment.Requirements: Docker 1.3, Kubernetes, Vagrant, VMBox, etc.",2015-09-01,2014-11-01,Docker Orchestration with Kubernetes,https://www.dockerinfo.wordpress.com
216,79,"In ADHOC network, nodes move arbitrarily and that affects the performance of the whole system which leads to inefficiency in communication and needs reliable connection to transfer data. Most of data packets been lost due to Transmission Control Protocol(TCP)'s high channel error rate and link failure. To improve the TCP performance many techniques have been derived. We used, Explicit Link Failure Notification(ELFN) mechanism to manage link failures with dynamic cache update scheme to improve the TCP performance considerably.",2012-05-01,2011-07-01,Improvment of DSR protocol in MANET,None
217,80,"This is the Gunn High School Robotics Team robot code from the 2012-2013 school year, for the FIRST Robotics Competition. This is the code that was running on our robot during the 2013 FIRST Championships in St. Louis, and will be the code running on our robot until next competition season.",None,None,GRT Framework,https://github.com/grt192/grtframeworkv7
218,80,This is a paper I wrote during a research program at UC Davis during the summer of 2012. I analyzed cardiac action potentials and demonstrated variations in cardiac conditions through the use of the Fitzhugh-Nagumo model for action potentials.,None,None,Analyzing Cardiac Action Potentials with the Fitzhugh-Nagumo Model,http://www.cosmos.ucdavis.edu/archives/2012/cluster9/KARAMCHETI_SIDDHARTH.pdf
219,81,NaN,None,None,NaN,NaN
220,82,NaN,None,None,NaN,NaN
221,83,NaN,None,None,NaN,NaN
222,84,NaN,None,None,NaN,NaN
223,85,NaN,None,None,NaN,NaN
224,86,NaN,None,None,NaN,NaN

## Do not run Following Again

In [146]:
ac_project_df.starts_at = ac_project_df.starts_at.apply(str)
ac_project_df.ends_at = ac_project_df.ends_at.apply(str)
#to_mongo('Linkedin','ac_project',ac_project_df)

### 10 accomplishment_test_scores

In [147]:
ac_test_df = linkedin_col_parser(profile_fields,'profile_id',
                              'certifications')
ac_test_df.starts_at = dict_to_date(ac_test_df.starts_at)
ac_test_df.ends_at = dict_to_date(ac_test_df.ends_at)

In [148]:
ac_test_df.loc[10:20]

,profile_id,authority,display_source,ends_at,license_number,name,starts_at,url
10,8,Aspiring Minds,www.myamcat.com,NaT,3690527-211,AMCAT Certified Data Processing Specialist,2016-07-01,https://www.myamcat.com/certificate/3690527/data-processing-specialist/211
11,8,Checkmarx,certificates.codebashing.com,2021-08-31,None,Application Security and Secure Coding Training course in Node.JS,2020-08-01,https://certificates.codebashing.com/nodejs_course_certificate_afd7604e7ece5e18e669c01277c76953e99480fd.pdf
12,9,LinkedIn,www.linkedin.com,NaT,AYa4cof0cOFYP3NW9zhRtkGl_bPt,Essentials of CSS for React Developers,2019-01-01,http://www.linkedin.com/learning/essentials-of-css-for-react-developers
13,9,LinkedIn,www.linkedin.com,NaT,AYa4cof0cOFYP3NW9zhRtkGl_bPt,React.js Essential Training,2019-01-01,http://www.linkedin.com/learning/react-js-essential-training-3
14,10,NaN,NaN,NaT,NaN,NaN,NaT,NaN
15,11,NaN,NaN,NaT,NaN,NaN,NaT,NaN
16,12,Coursera,coursera.org,NaT,None,Agile with Atlassian Jira,2020-08-01,https://coursera.org/share/b9c98e5096aa913efb39bbb5d8aff801
17,12,Coursera,www.coursera.org,NaT,None,Digital Product Management: Modern Fundamentals,2020-05-01,https://www.coursera.org/account/accomplishments/records/LPRBU2ZTN7HA?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course
18,12,Coursera,www.coursera.org,NaT,None,SQL for Data Science,2020-05-01,https://www.coursera.org/account/accomplishments/certificate/GBQCC65LYLCX
19,12,Coursera,coursera.org,NaT,None,Cloud Computing Basics (Cloud 101),2020-04-01,https://coursera.org/share/9e4c0cc368dc8864dc971434e7cdc7b9
20,12,Coursera,coursera.org,NaT,None,New Models of Business in Society,2020-04-01,https://coursera.org/share/25905664f05a37670f8e3028e54be95d

## Do Not run Following Again

In [149]:
ac_test_df.starts_at = ac_test_df.starts_at.apply(str)
ac_test_df.ends_at = ac_test_df.ends_at.apply(str)
#to_mongo('Linkedin','ac_test',ac_test_df)

Now, we have 10 Data Frames extracted and ready to be stored, modified, processed etc.

1. profile_df
2. experience_df
3. education_df 
4. ac_organisation_df
5. ac_publication_df
6. ac_award_df
7. ac_patent_df
8. ac_courses_df
9. ac_project_df
10. cert_df

Remember to convert the dates back to date format from string.